/* root properties */
:root {
	--color-white: #fff;
	--color-light: #f4f4f4;
	--color-dark: #525252;
	--color-black: #141415;
	--color-primary: #f24e1e;
	--color-primary-light: hsl(14, 89%, 52%, 12%);
	--color-success: #29f5a6;
	--color-warning: #ffce31;

	--transition: all 300ms ease;
}

/* global properties */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	font-size: 15px;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

html {
	font-size: 15px;
	scroll-behavior: smooth;
}

body {
	background: var(--color-white);
	color: var(--color-dark);
	max-width: 100vw;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-black);
	line-height: 1.2;
}

h1 {
	font-size: 3.8rem;
}

h2 {
	font-size: 2.6rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 0.86rem;
}

p {
	line-height: 1.8;
}

.container {
	width: 80%;
	margin: 0 auto;
}

section {
	padding: 10rem 0 7rem;
	max-width: 100vw;
	overflow-x: hidden;
}

section h1 {
	/* text-align: center; */
	display: block;
	margin-bottom: 5rem;
}

img {
	width: 100%;
}

.btn {
	padding: 1.4rem 3.4rem;
	font-size: 1.1rem;
	color: var(--color-black);
	background-color: var(--color-white);
	display: inline-block;
	margin: 2rem 0;
	transition: var(--transition);
}

.btn:hover {
	box-shadow: 0 2rem 2rem var(--color-primary-light);
}

.btn-primary {
	background-color: var(--color-primary);
	color: var(--color-white);
}

/* global properties  end */

/* nav section */

nav {
	width: 100%;
	height: 5rem;
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	z-index: 2;
	border-bottom: 1px solid var(--color-light);
}

nav > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

nav button {
	display: none;
}

nav h3 {
	color: var(--color-primary);
}

nav .container ul {
	display: flex;
	height: 100%;
	justify-content: flex-end;
}

nav .container ul li a {
	display: flex;
	width: 7rem;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	font-weight: 500;
	position: relative;
	color: var(--color-dark);
	/* background-color: var(--color-primary); */
	transition: var(--transition);
}

nav .container ul li a::before {
	content: '';
	width: 1px;
	height: 20px;
	background-color: var(--color-primary);
	position: absolute;
	left: -5px;
}

nav .container ul li:first-child a::before {
	display: none;
}

nav .container ul li a:hover {
	background-color: var(--color-primary);
	color: var(--color-white);
}

/* nav end */

/* landing section start */
section.landing {
	display: grid;
	place-items: center;
	position: relative;
	top: 5rem;
	padding-bottom: 10rem;
}
section.landing > .container {
	display: grid;
	grid-template-columns: 5rem auto 28rem;
}
section.landing .socials {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin-top: 5rem;
}

section.landing .socials a {
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	color: var(--color-dark);
	background-color: var(--color-light);
	border-radius: 50%;
	font-size: 1.1rem;
	transition: var(--transition);
}

section.landing .socials a:hover {
	background-color: var(--color-primary);
	color: var(--color-white);
}

section.landing .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	padding: 0 14rem;
	text-align: end;
}

section.landing .profile-area {
	display: flex;
	justify-content: center;
	align-items: center;
}

section.landing .profile-area .outer-circle {
	width: 26rem;
	height: 26rem;
	border: 1px solid var(--color-primary);
	border-radius: 50%;
	position: relative;
	background: transparent;
	animation: myAnimation 100s linear infinite;
}

@keyframes myAnimation {
	to {
		transform: rotate(360deg);
	}
}

section.landing .profile-area .outer-circle i {
	position: absolute;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	text-align: center;
	line-height: 4rem;
	color: var(--color-primary);
	background-color: var(--color-light);
	box-shadow: 0 0 1rem var(--color-primary);
}
section.landing .profile-area .outer-circle i:nth-child(4) {
	bottom: -2rem;
	right: calc(50% - 2rem);
}
section.landing .profile-area .outer-circle i:nth-child(3) {
	right: -2rem;
	top: calc(50% - 2rem);
}
section.landing .profile-area .outer-circle i:nth-child(2) {
	top: -2rem;
	right: calc(50% - 2rem);
}
section.landing .profile-area .outer-circle i:nth-child(1) {
	left: -2rem;
	bottom: calc(50% - 2rem);
}

section.landing .profile-area .inner-circle {
	width: 20rem;
	height: 20rem;
	position: absolute;
	border: 1px solid var(--color-light);
	border-radius: 50%;
	overflow: hidden;
	background: transparent;
}

/* section.landing::after {
	content: '';
	width: 50rem;
	height: 1px;
	background-color: #f24f1e42;
	position: absolute;
	bottom: 1rem;
} */
/* landing section end */

/* about section start */

section.about {
	background-color: var(--color-light);
}

section.about .image {
}
section.about .container {
	display: grid;
	grid-template-columns: 26rem auto;
	gap: 5rem;
	justify-content: center;
	align-items: center;
}

.about-title {
	position: relative;
}

.about-title::after {
	content: '';
	background-color: var(--color-primary);
	width: 5rem;
	height: 0.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
}
