/* root properties */
:root {
	--color-white: #fff;
	--color-light: #f4f4f4;
	--color-dark: #525252;
	--color-black: #141415;
	--color-primary: #f24e1e;
	--color-primary-light: hsl(14, 89%, 52%, 12%);
	--color-success: #29f5a6;
	--color-warning: #ffce31;
	--transition: all 300ms ease;

	/* scroll style */
	scrollbar-color: var(--color-primary) var(--color-primary-light);
	scrollbar-width: thin;
}

/* global properties */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	font-size: 15px;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.scroller {
	scrollbar-width: thin;
	scrollbar-color: #0a4c95 #c2d2e4;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: var(--color-primary-light);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
}

html {
	font-size: 15px;
	scroll-behavior: smooth;
}

body {
	background: var(--color-white);
	color: var(--color-dark);
	max-width: 100vw;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-black);
	line-height: 1.2;
}

h1 {
	font-size: 3.8rem;
}

h2 {
	font-size: 2.6rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 0.86rem;
}

p {
	line-height: 1.8;
}

.spacer {
	margin-top: 9rem;
}

.container {
	width: 80%;
	margin: 0 auto;
}

section {
	padding: 10rem 0 7rem;
	max-width: 100vw;
	overflow-x: hidden;
}

section > h1,
h1 {
	display: block;
	margin-bottom: 5rem;
}

section > h1 {
	text-align: center;
}

img {
	width: 100%;
}

.btn {
	padding: 1.4rem 3.4rem;
	font-size: 1.1rem;
	color: var(--color-black);
	background-color: var(--color-white);
	display: inline-block;
	margin: 2rem 0;
	transition: var(--transition);
}

.btn:hover {
	box-shadow: 0 2rem 2rem var(--color-primary-light);
}

.btn-primary {
	background-color: var(--color-primary);
	color: var(--color-white);
}

/* global properties  end */

/* nav section */

nav {
	width: 100%;
	height: 5rem;
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	z-index: 2;
	border-bottom: 1px solid var(--color-light);
}

nav > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

nav button {
	display: none;
}

nav h3 {
	color: var(--color-primary);
}

nav .container ul {
	display: flex;
	height: 100%;
	justify-content: flex-end;
}

nav .container ul li a {
	display: flex;
	width: 7rem;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	font-weight: 500;
	position: relative;
	color: var(--color-dark);
	/*background-color: var(--color-primary);
	*/
	transition: var(--transition);
	-webkit-transition: var(--transition);
	-moz-transition: var(--transition);
	-ms-transition: var(--transition);
	-o-transition: var(--transition);
	/* hover a tag */
	&:hover {
		background-color: var(--color-primary);
		color: var(--color-white);
	}
}

nav .container ul li a::before {
	content: '';
	width: 1px;
	height: 20px;
	background-color: var(--color-primary);
	position: absolute;
	left: -5px;
}

nav .container ul li:first-child a::before {
	display: none;
}

nav .container ul li a:hover {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.active-menu {
	background-color: var(--color-primary);
	color: var(--color-white) !important;
}

/* nav end */

/* landing section start */
section.landing {
	display: grid;
	place-items: center;
	position: relative;
	/* top: 5rem; */
	padding: 17rem 0;
}
section.landing > .container {
	display: grid;
	grid-template-columns: 5rem auto 28rem;
}
section.landing .socials {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin-top: 5rem;
}

section.landing .socials a {
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	color: var(--color-dark);
	background-color: var(--color-light);
	border-radius: 50%;
	font-size: 1.1rem;
	transition: var(--transition);
}

section.landing .socials a:hover {
	background-color: var(--color-primary);
	color: var(--color-white);
}

section.landing .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	padding: 0 5rem;
	text-align: end;
}

section.landing .profile-area {
	display: flex;
	justify-content: center;
	align-items: center;
}

section.landing .profile-area .outer-circle {
	width: 26rem;
	height: 26rem;
	border: 1px solid var(--color-primary);
	border-radius: 50%;
	position: relative;
	background: transparent;
	animation: myAnimation 100s linear infinite;
}

@keyframes myAnimation {
	to {
		transform: rotate(360deg);
	}
}

section.landing .profile-area .outer-circle i {
	position: absolute;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	text-align: center;
	line-height: 4rem;
	color: var(--color-primary);
	background-color: var(--color-light);
	box-shadow: 0 0 1rem var(--color-primary);
}
section.landing .profile-area .outer-circle i:nth-child(4) {
	bottom: -2rem;
	right: calc(50% - 2rem);
}
section.landing .profile-area .outer-circle i:nth-child(3) {
	right: -2rem;
	top: calc(50% - 2rem);
}
section.landing .profile-area .outer-circle i:nth-child(2) {
	top: -2rem;
	right: calc(50% - 2rem);
}
section.landing .profile-area .outer-circle i:nth-child(1) {
	left: -2rem;
	bottom: calc(50% - 2rem);
}

section.landing .profile-area .inner-circle {
	width: 20rem;
	height: 20rem;
	position: absolute;
	border: 1px solid var(--color-light);
	border-radius: 50%;
	overflow: hidden;
	background: transparent;
}

/* section.landing::after {
	content: '';
	width: 50rem;
	height: 1px;
	background-color: #f24f1e42;
	position: absolute;
	bottom: 1rem;
} */
/* landing section end */

/* about section start */

section.about {
	background-color: var(--color-light);
}

section.about .container {
	display: grid;
	grid-template-columns: 26rem auto;
	gap: 5rem;
	justify-content: center;
	align-items: center;
}

.about-title {
	position: relative;
}

.about-title::after {
	content: '';
	background-color: var(--color-primary);
	width: 5rem;
	height: 0.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
}

#about .read-more-content {
	display: none;
}

.show-content {
	display: block !important;
}

section.about .container .read-more {
	display: block;
	margin: 1rem 0 2rem;
	color: var(--color-primary);
	cursor: pointer;
}

section.about .container .read-more:hover {
	text-decoration: underline;
}

/* about section end */

/* skills section start */

#skills .container {
	width: 50%;
}

#skills .skill {
	margin-bottom: 1rem;
	overflow: hidden;
}

#skills .skill .head {
	background-color: var(--color-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-white);
	padding: 1rem;
	cursor: pointer;
}

#skills .skill .head .left h4 {
	color: var(--color-white);
}
#skills .skill .head .left {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#skills .container {
	overflow: hidden;
}

#skills .skill .items {
	position: relative;
	margin-top: -26.5rem;
	z-index: -1;
	transition: margin 2s;
}

.show {
	margin-top: 0px !important;
}

/* #skills .container {
}

#skills .skill .items {
	margin-top: -31%;
	position: relative;
	z-index: -1;
	display: none;
}

.show {
	display: block !important;
	animation: show 1s ease forwards;
}

@keyframes show {
	to {
		margin-top: 0px;
	}
} */

#skills .skill .item {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	margin-bottom: 0.3rem;
	background: var(--color-light);
	transition: var(--transition);
}

#skills .skill .item:hover {
	background-color: var(--color-white);
}

#skills .skill .item .progress-area {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
}

#skills .skill .item .progress-bar {
	width: 100%;
	height: 1rem;
	background-color: var(--color-primary-light);
}

#skills .skill .item .progress {
	width: 99%;
	height: 1rem;
	background-color: var(--color-primary);
}

.active {
	display: block !important;
}

/* skills section end */

/* service section start */

#services {
	background-color: var(--color-light);
}

#services .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

#services .service {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 3rem 2rem;
	text-align: center;
	cursor: pointer;
	background-color: var(--color-white);
	transition: var(--transition);
}

#services .service:hover {
	box-shadow: 0 1rem 1rem var(--color-primary-light);
}

#services .service i {
	margin: 0 auto;
	background-color: var(--color-primary);
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--color-white);
}

#services .service:last-child i {
	background-color: var(--color-success);
}

#services .service:nth-child(2) i {
	background-color: var(--color-warning);
}
/* service section end */
/* portfolio section start */
#portfolio h1,
h2 {
	margin-top: 2rem;
}
#portfolio .projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
}

#portfolio .projects .action {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
}

#portfolio .projects .action a:hover {
	text-decoration: underline;
	color: var(--color-primary);
}
/* portfolio section end */
/* testimonial section start */
#testimonials {
	background-color: var(--color-light);
}

#testimonials .container {
	width: 50rem;
}

#testimonials .carousel {
	/* display: flex; */
	/* align-items: center; */
	/* flex-direction: column; */
	/* gap: 1rem; */
}

#testimonials .testimonial {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	background-color: var(--color-white);
	gap: 1rem;
	cursor: pointer;
}

#testimonials .testimonial .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#testimonials .testimonial .head .profile-area {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#testimonials .testimonial .head .profile-area .avatar {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 1px solid var(--color-primary);
	overflow: hidden;
}

#testimonials .testimonial .head .stars > i {
	color: var(--color-primary);
}

/* over write the swiper css */
.swiper-scrollbar {
	position: initial !important;
	width: inherit !important;
	margin-top: 0.6rem;
}

/* testimonial section end */
/* contacts section start */

#contact {
	padding: initial;
}

#contact .overlay {
	width: 100%;
	height: 100%;
	padding: 10rem 0;
}

#contact .inner-container .img {
	background-image: url('https://img.freepik.com/free-vector/email-campaign-concept-illustration_114360-1681.jpg?w=826&t=st=1700145992~exp=1700146592~hmac=7f80db3d5a0b6bf53ab5ff15142ca734a9724930e725a5bdd0d57c2657fda160');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#contact .inner-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 5rem;
}

#contact form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#contact form * {
	border: 1px solid #ccc;
	height: 3rem;
	border-radius: 0.2rem;
	padding: 1rem;
}

#contact form *:focus {
	border: 1px solid var(--color-primary);
}

/* #contact form {
	border: 1px solid #ccc;
	height: 3rem;
} */

#contact textarea {
	height: initial;
}

/* contacts section end */
/* footer section start */

footer {
	line-height: 3rem;
	background-color: #ffcf317c;
}

.footer {
	display: flex;
	justify-content: space-between;
	color: var(--color-dark);
}

.footer .socials * {
	margin-left: 5px;
}

/* footer section end */

/* media query section */
@media screen and (max-width: 600px) {
	/* nav section start */
	h1 {
		font-size: 2.2rem;
	}
	h2 {
		font-size: 1.6rem;
	}
	h3 {
		font-size: 1.2rem;
	}
	h4 {
		font-size: 1rem;
	}
	h5 {
		font-size: 0.68rem;
	}

	.container {
		width: 95%;
	}

	.nav-box-shadow {
		box-shadow: 2rem 0 2rem 0 var(--color-primary-light);
	}

	nav .container {
		margin: 1rem;
	}

	nav .container ul {
		flex-direction: column;
		position: fixed;
		background-color: #fadd7c;
		top: 0;
		left: -100%;
		bottom: 0;
		justify-content: start;
		width: 40%;
		box-shadow: 1rem 0 1rem 0 var(--color-primary-light);
		overflow: hidden;
		display: none;
	}

	.active {
		display: block !important;
		animation: slideIn 0.3s ease forwards;
	}

	@keyframes slideIn {
		to {
			left: 0;
		}
	}

	nav .container ul > li {
		height: 4rem;
	}
	nav .container ul > li a {
		justify-content: start;
		padding: 1rem;
	}
	nav .container ul > li a:hover {
		width: 100%;
	}
	nav .container ul li:first-child a::before {
		display: initial;
	}

	nav button {
		display: block;
		background: transparent;
		color: var(--color-black);
		cursor: pointer;
	}

	nav .close-btn {
		display: none;
	}
	/* nav section end */
	/* landing section start */
	#hero-section {
		padding: 10rem 0 7rem;
	}
	#hero-section .container {
		grid-template-columns: 1fr;
	}

	#hero-section .container .socials {
		flex-direction: initial;
		justify-content: center;
	}

	#hero-section .container .profile-area {
		grid-row: 1;
	}

	#hero-section .profile-area .inner-circle {
		width: 15rem;
		height: 15rem;
	}

	#hero-section .profile-area .outer-circle {
		width: 20rem;
		height: 20rem;
	}

	#hero-section .profile-area .outer-circle i {
		width: 2.5rem;
		height: 2.5rem;
		line-height: 2.5rem;
	}
	#hero-section .profile-area .outer-circle i:first-child {
		left: -1.2rem;
		bottom: calc(50% - 1.2rem);
	}
	#hero-section .profile-area .outer-circle i:last-child {
		bottom: -1.25rem;
		left: calc(50% - 1.2rem);
	}
	#hero-section .profile-area .outer-circle i:nth-child(2) {
		top: -1.25rem;
		right: calc(50% - 1.2rem);
	}
	#hero-section .profile-area .outer-circle i:nth-child(3) {
		right: -1.2rem;
		top: calc(50% - 1.2rem);
	}

	#hero-section .container .info {
		text-align: center;
		align-items: center;
	}

	#hero-section .container .info * {
		margin: 1rem;
	}
	section.landing .info {
		padding: inherit;
	}
	/* landing section end */
	/* about section start */
	#about .container {
		grid-template-columns: 1fr;
	}
	/* about section end */
	/* skill section start */
	#skills .spacer {
		display: none;
	}

	#skills .container {
		width: 95%;
	}

	#skills .skill .items {
		margin-top: -25.5rem;
	}

	/* skill section end */
	/* service section start */
	#services .container {
		grid-template-columns: 1fr;
	}
	#services .spacer {
		display: none;
	}
	/* service section end */
	/* portfolio section start */
	#portfolio .projects {
		grid-template-columns: 1fr;
	}
	/* portfolio section end */
	/* testimonials section start */
	#testimonials .container {
		width: 100vw;
	}
	/* testimonials section start */
	/* contact section start */
	#contact .inner-container {
		grid-template-columns: 1fr;
	}
	#contact .inner-container .img {
		display: none;
	}
	/* contact section end */
}
