:root {
	--color-white: #fff;
	--color-light: #f4f4f4;
	--color-dark: #525252;
	--color-black: #141415;
	--color-primary: #f24e1e;
	--color-primary-light: hsl(14, 89%, 52%, 12%);
	--color-success: #29f5a6;
	--color-warning: #ffce31;

	--transition: all 300s ease;
}
